<h1>S3 Storage Testing</h1>

<div class="file-upload-container">
  <h2>File Upload Component</h2>
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="uploadFile()">Upload</button>
  
  <div *ngIf="uploadProgress > 0">
    Progress: {{ uploadProgress }}%
  </div>
  
  <div *ngIf="files.length > 0">
    <h3>Files:</h3>
    <ul>
      <li *ngFor="let file of files">
        {{ file.name }}
        <button (click)="downloadFile(file.name)">Download</button>
      </li>
    </ul>
  </div>
</div>